body {
  margin: 0;
  font-family: "Times New Roman";
  padding-top: 80px;

}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: red;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 100%;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
  }

  .nav-links.active {
    max-height: 300px;
  }

  .hamburger {
    display: block;
  }
}


.img{font-size: 25px;
      text-align: center;
      padding-bottom: 10px;
    border-bottom: 2px solid black;}

.profile img {
  margin-top: 5rem;
  border: 5px double gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  scroll-margin-top: 90px;
}


html{scroll-behavior: smooth;}

.abt{font-size:20px;
     margin-left: 0.5rem;
    box-sizing: border-box;
     word-spacing: 0.1em;}

h2{text-decoration: underline;}

#Hobbies{font-size: 20px;}

.edu{list-style: none;
     font-size: 20px;}

.edu li:first-child {
  list-style-type: square;
}

.hob li{list-style-type: square;}

#Skills{font-size: 20px;}

.skills{margin-left: 0.5rem;}

.skills dd {
  position: relative;
  margin-left: 25px;
  margin-bottom: 6px;
}

.skills dd::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 6px;
  width: 6px;
  height: 6px;
  background-color: black;
}

.Projects{font-size: 20px;}
.projects dt {
  position: relative;
  margin-left: 20px;
  margin-top: 25px;
  font-weight: 600;
}

.projects dt::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 6px;
  width:6px;
  height:6px;
  background-color: black;
}

#Contact{font-size:20px;}

.Contact li{list-style-type: square;}

#Adithya{font-size: 20px;}

article{margin-bottom: 60px;}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
